body, p, ul {
	margin: 0px;  
	font-family:   Verdana;
	font-size: 15px;
	color: black;
}	
#wrapper { 
    width: 98%;        
    margin: 0 auto;
}

#header {
	margin-bottom: 10px;
} 

#header {
	height: 70px;
	margin-bottom: 10px;
}
#content {
    width: 80%;
    float: right;
}
#mainNav {
    width: 18%;
    float: left;
    padding-top: 20px;    
    padding-bottom: 20px;   
	border: 1px solid blue;
	border-radius: 10px;
	background: #f5f5f5;
	margin-bottom: 10px;
}
#mainNav li {
    padding-right: 15px;
}
#footer {
    clear: both;
	border: 1px solid blue;
	border-radius: 10px;
	background: #f5f5f5;

}
#footer p {
    margin: 10px;
}
#mainContent {
    width: 75%;
    float: left;
	
	text-indent: 50px; 
	text-align: justify;
	margin-bottom: 10px;
}

#secondaryContent {
    width: 18%;
    float: right;
	border: 1px solid blue;
	border-radius: 10px;
	background: #f5f5f5;
}
.gallery {
	margin: 5px;
	border: 2px solid #fff;
}

.photo:hover img {
	border: 2px solid red;      
}



	